packages
SnowyPeak.Duality.Plugins.YAUI/bin/
SnowyPeak.Duality.Plugins.YAUI/obj/
*.suo
*.nupkg
SnowyPeak.Duality.Plugins.YAUI/SnowyPeak.Duality.Plugins.YAUI.core.xml
.nuget/
.vs/SnowyPeak.Duality.Plugins.YAUI/
SnowyPeak.Duality.Plugins.YAUI/SnowyPeak.Duality.Plugins.YAUI.core.csproj.user
